@import "fonts.css";
@import "loader.css";
@import "black.css";


body.vl-white {background: #f6f7fa none; color: #000000;}

.vl-white .vl-blue-neon-header-nav {background: none;}
.vl-white .vl-nav {background: #3e3d48 none; border-bottom: 2px solid #5a5868; box-shadow: 0 1px 0 #c6c6c6;}


.vl-white .vl-header-nav-left li a {color: #d7d5f2;}
.vl-white .vl-header-nav-left li a:hover {color: #ffffff;}
.vl-white .vl-header-nav-left li {border-color: #5a5868;}

.vl-white .lv-header-nav-text {color: #b4b2ce;}

.vl-white .vl-header-btn-sign-in {background: linear-gradient(#aed45c 0%, #92b449 100%); color: #ffffff;}
.vl-white .vl-header-btn-sign-in:before {background-image: url(../images/white/sign-in-icon.png);}

.vl-white .vl-chat-button {background-image: url(../images/white/chat-icon.png);}

.vl-white .vl-header-nav-left li:not(.vl-no-hover):before {border-bottom: 2px solid #ffa800; left: 0; width: 100%;}
.vl-white .vl-chat-button:before, .vl-white .vl-chat-button:after, .vl-white  .vl-header-nav-left li:not(.vl-no-hover):after {display: none;}

.vl-white .vl-title {color: #000000; border-color: #f06927;}


.vl-white .vl-footer {background: #3e3d48 none;}
.vl-white .vl-blue-neon-footer {background: none;}

.vl-white .vl-footer-nav-left li a {color: #b4b2ce;}
.vl-white .vl-footer-nav-left li a:hover {color: #ffffff;}
.vl-white .vl-footer-nav-left li {border-color: #5a5868;}
.vl-white .vl-copyright {color: #b4b2ce;}